.BODY {
    background: url(bck1\ \(2\).jpg);
    font-family: 'Poppins', sans-serif;
    /* old #A3E4DB */
}

.MAIN_BOX{ 
    position:absolute;
    width: 800px;
    height: 400px;
    border-radius: 25px;
    backdrop-filter:blur(4px);
    
    top: 10%;
    left: 50%;
    margin-left: -400px;
    box-shadow: 0 0 20px 0px #a59682 
    }

.BUTTON_BOX{
    margin-left: 137px;
    margin-top: 50px;
    width: 525px;
    height: 75px;
    border-radius: 25px;
    background-color:#C89595;
    float:bottom;
}

.BUTTON_BOX_HEADER{
    color:#480032;
    font-weight: 600;
    float:left;
    margin: 27px 0 0 65px;
}

#HEADER_SELECTED{
    color: #674a6e;
    font-weight: 800;
    text-shadow: 0 0 10px 0 rgb(47, 94, 59);
    margin-top: 23px;
}

.MENU_LINK:hover{
    text-decoration: none;
    animation-name: hovering;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes hovering {
    from{font-size:18.72px;}
    to{font-size: 21px;}
}

.MENU_LINK{
    text-decoration: none;
    color:#480032;
}
#LINK_BOX{
    color:#480032;
    margin-top: 50px;
    margin-left: 15%;
    float: none;
}
.MAIL_TEXT{text-decoration:none;
    color:#480032;
  margin-top: 10px;
  margin-left: 15px;
  
}
.HEADER{
    text-align: center;
    color:#F9E4C8;    
}
#MAIL_ICON{
    color:#480032;
    margin-left: 15%;
    float: left;
}
#PHONE_ICON{
    color:#480032;
    margin-left: 15%;
    float: left;
}
.PHONE_NUMBER{
    color:#480032;
}
